<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">book</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Home Page</span>
            </div>
            <div class="h1 mt-16">Início</div>
        </div>
    </div>

    <div class="content p-24">
        <div class="h1 pt-32">
            Aplicação Experimental
        </div>
    
        <p class="pb-32">
            Este é um protótipo de software desenvolvido utilizando o Framework de Front-End <code>angular 10</code>, conectado a APIs de terceiros Open Source.
        </p>
    </div>
</div>