<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">book</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Home Page</span>
            </div>
            <div class="h1 mt-16">Início</div>
        </div>
    </div>

    <div class="content p-24">
        <div class="h1 pt-32">
            Em construção.
        </div>
    
        <!-- <p class="pb-32">
            Et iusto sed quo iure voluptatem occaecati omnis eligendi aut ad voluptatem doloribus vel accusantium quis pariatur molestiae 
            porro eius odio et labore et velit aut. Eullam et saepe reiciendis voluptatem adipisci sit amet autem assumenda provident 
            rerum culpa quis hic commodi <code>nesciunt rem tenetur</code> doloremque ipsam iure quis sunt voluptatem rerum illo velit.
        </p> -->
    </div>
</div>