table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-spinner {
    margin: 0 auto; margin-top: 24vh;
}

.w-15 {
    width: 15vh !important;
}

img {
    display: block;
    max-height:25px;
    width: auto;
    height: auto;
    //border-radius: 50%;
}

.green {
    color: green !important;
    background-color: white !important;
    font-weight: 300;
}

.red {
    color: red !important;
    background-color: white !important;
    font-weight: 300;
}

.table-icon {
    vertical-align: middle;
    font-size: 16.8px;
}