table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-spinner {
    margin: 0 auto; margin-top: 24vh;
}

.w-15 {
    width: 15vh !important;
}

img {
    width: 25px;
    height: 25px;
}

.green {
    color: green !important;
    background-color: white !important;
    font-weight: 300;
}

.red {
    color: red !important;
    background-color: white !important;
    font-weight: 300;
}